body {
  margin: 0;
  line-height: normal;
}

/* :root {

  --font-cabinetgrotesk: "Cabinet Grotesk Medium";
  --font-cabinetgrotesk-reg: "Cabinet Grotesk Regular";
  --font-cabinetgrotesk-light: "Cabinet Grotesk Light";
  --font-satoshi-light: "Satoshi Light";
  --font-satoshi-reg: "Satoshi";

 */


  /* font sizes */
  --font-size-base: 1rem; /* 16px */
  --font-size-13xl: 2rem; /* 32px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-xl2: 1.5rem;  /* 24px */
  --font-size-xx: 3.5rem; /* 56px */

  /* Colors */
  /* type 1 */
  /* --color-primary: #f0cbf0;
  --color-secondary: #15496a; */


    --color-primary: #f0f0f0;
  --color-secondary: #121212; 

  /* type 2 */
  /* --color-primary: #df4671;
  --color-secondary: #f3e9cf; */

  /* type 3 */
  /* --color-primary: #eadaad;
  --color-secondary: #dd5e3f; */

  /* type 4 */
  /* --color-primary: #203d3f;
  --color-secondary: #32bc81; */

  /* type 5 */
  /* --color-primary: #cc483c;
  --color-secondary: #f7c5bd; */

   /* type 6 */
   /* --color-primary: #fdecbb;
   --color-secondary: #fa2a59; */






  /* Image Height  */
  --image-height: calc(100vh);
  --image-height-tablet: 540px;


}
a {
  text-decoration: none;
  display:inline-block; 
  line-height:0;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  display: inline-block;
  line-height: 0;

}