/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
  margin: 0;
  line-height: normal;
  background-color: var(--background-color);
  color: var(--text-color);
}

body::-webkit-scrollbar {
  display: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* You can do the same for links */
a {
  -webkit-tap-highlight-color: transparent !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

#more {
  display: none;
}






* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  /* height: auto; */
}




/* ================== FOOTER ============ */

footer {
  padding: 0;
  width: 100%;
  margin-top: 24px;

}

.footer_container {
  display: block;
  width: 100%;
  height: 380px;
  background-color: #121212;
}

.footer_container .footer_section {
  padding: 0px 48px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer_container .footer_section .section_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 80px;
}

.footer_container .footer_section .section_top .section_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer_container .footer_section .section_top .section_details .logo {
  margin-bottom: 32px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.footer_container .footer_section .section_top .footer_menu {
  display: block;
  width: 100%;
}

.footer_container .footer_section .section_top .footer_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer_container .footer_section .section_top .footer_menu ul li {
  list-style: none;
  margin-right: 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* gap: 6px; */
}

.footer_container .footer_section .section_top .footer_menu ul li a {

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 12px;
  color: #fff;
}

.footer_container .footer_section .section_top .footer_menu ul li svg {
  width: 32px;
  height: 32px;
}


.footer_container .footer_section .section_top .section_email .email_heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-weight: normal;
  margin-bottom: 16px;
  height: 21px
}

.footer_container .footer_section .section_top .section_email .email_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.footer_container .footer_section .section_top .section_email .email_input input {
  min-width: 300px;
  height: 45px;
  border-radius: 0;
  border: 0;
}

.footer_container .footer_section .section_top .section_email .email_input input::-webkit-input-placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-size-sm);
  color: var(--text-color);
  padding: 12px;
  font-weight: normal;
}

.footer_container .footer_section .section_top .section_email .email_input input::-moz-placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-size-sm);
  color: var(--text-color);
  padding: 12px;
  font-weight: normal;
}

.footer_container .footer_section .section_top .section_email .email_input input:-ms-input-placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-size-sm);
  color: var(--text-color);
  padding: 12px;
  font-weight: normal;
}

.footer_container .footer_section .section_top .section_email .email_input input::-ms-input-placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-size-sm);
  color: var(--text-color);
  padding: 12px;
  font-weight: normal;
}

.footer_container .footer_section .section_top .section_email .email_input input::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-size-sm);
  color: var(--text-color);
  padding: 12px;
  font-weight: normal;
}

.footer_container .footer_section .section_top .section_email .email_input button {
  width: 85px;
  height: 45px;
  border-radius: 0;
  border: 1px solid var(--color-white);
  background-color: transparent;
  color: var(--color-white);
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-weight: normal;


}

.footer_container .footer_section .hr {
  width: 100%;
  border: 1px solid var(--color-white);
  margin-bottom: 32px;
}

.footer_container .footer_section .section_bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  color: var(--color-white);
  font-size: var(--font-size-sm);
  font-family: Arial, Helvetica, sans-serif;
}

.footer_container .footer_section .section_bottom .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.footer_container .footer_section .section_bottom .socials svg {
  color: var(--color-white);
}

.footer_container .footer_section .section_bottom .privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}



/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {

  .container.main {
    padding: 16px 16px;
  }


  /* ========== FOOTER SECTION ============= */

  .footer_container .footer_section .section_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 48px 0;
  }

  .footer_container .footer_section .section_top .footer_menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 32px;
  }

  .footer_container .footer_section .section_top .footer_menu ul li {
    font-size: 16px;
  }

  .footer_container .footer_section .section_top .section_email .email_heading {
    font-size: 16px;
    margin-bottom: 16px;
  }

}

@media screen and (max-device-width: 640px) {
  .container.main {
    padding: 16px 16px;
  }

  .flexbox {
    display: block;
  }

  /* ======== POP UP ========= */

  .popup-box {
    padding: 20px 20px;
    width: 320px;

  }

  .close-btn {
    width: 24px;
    height: 24px;
  }

  .close-btn svg {
    width: 14px;
    height: 14px;
  }

  /* ============= FOOTER SECTION ============= */
  .footer_container .footer_section .section_top {

    margin: 24px 0;
    display: flex;
  }

  .footer_container {
    display: block;
    width: 100%;
    height: 640px;
    background-color: #121212;
  }

  .footer_container .footer_section {
    padding: 0;
  }

  .footer_container .footer_section .section_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  justify-content: center;
    /* margin-bottom: 80px; */
    /* gap: 16px; */
    margin: 12px 0;
    padding: 0;
  }

  .footer_container .footer_section .section_top .footer_menu .footer_list {
    display: flex;
    flex-direction: column;
  
    width: 100%;
    height: 100%;
  }

  .footer_container .footer_section .section_top .footer_menu ul li {
    font-size: 14px;
    display: block;
    padding: 0;margin: 0;
 
    margin-bottom: 30px;
  }

  .footer_container .footer_section .section_top .section_email .email_input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
  }

  .footer_container .footer_section .section_bottom {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 24px;
  }
}

